<!DOCTYPE html>
<html>
    <head>
        <title>Tư vấn nhà đất Đà Nẵng</title>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/tintuc">TIN TỨC</a></li>
                <li><a href="/datnen-duan">ĐẤT NỀN DỰ ÁN</a></li>
                <li><a href="/nhadat-canban">NHÀ ĐẤT CẦN BÁN</a></li>
                <li><a href="/nhadat-chothue">NHÀ ĐẤT CHO THUÊ</a></li>
                <li><a href="/bietthu-venbien">BIỆT THỰ VEN BIỂN</a></li>
                <li><a href="/canho">CĂN HỘ</a></li>
                <li><a href="/lienhe">LIÊN HỆ</a></li>
            </ul>
        </header>
        <%- body -%>
        <footer>
            <ul>
                <li><img src="/images/icon/email.png">thanhhuyen2584@gmail.com</li>
                <li><img src="/images/icon/phone.png">+84905 385 835</li>
                <li><img src="/images/icon/global.png">www.huyenpham.com</li>
            </ul>
        </footer>
    </body>
</html>