<% layout('layout') %>

<section id="tin" class="left-img">
    <div class="imgTin">
        <img src="/images/nhadat1.jpg">
    </div>

    <div class="infor-tin">
        <div>
            <p class="title-tin">NHÀ ĐẤT CẦN BÁN</p>

            <p>Vision city tọa lạc ở vị trí vàng, phía Đông Nam thành phố Đà Nẵng, nằm trên trục đường du lịch 5 sao Sơn
                Trà - Điện Ngọc...</p>
            <a href="/details/detail4">read more</a>
        </div>
    </div>
</section>

<section id="tin" class="right-img">
    <div class="infor-tin">
        <div>
            <p class="title-tin">NHÀ ĐẤT CẦN BÁN</p>

            <p>Vision city tọa lạc ở vị trí vàng, phía Đông Nam thành phố Đà Nẵng, nằm trên trục đường du lịch 5 sao Sơn
                Trà - Điện Ngọc...</p>
            <a href="/details/detail5">read more</a>
        </div>
    </div>

    <div class="imgTin">
        <img src="/images/nhadat2.jpg">
    </div>
</section>

<section id="tin" class="left-img">
    <div class="imgTin">
        <img src="/images/nhadat3.jpg">
    </div>

    <div class="infor-tin">
        <div>
            <p class="title-tin">NHÀ ĐẤT CẦN BÁN</p>

            <p>Vision city tọa lạc ở vị trí vàng, phía Đông Nam thành phố Đà Nẵng, nằm trên trục đường du lịch 5 sao Sơn
                Trà - Điện Ngọc...</p>
            <a href="/details/detail6">read more</a>
        </div>
    </div>
</section>