<% layout('../layout') %>

<div class="contact-img-top">
    <img src="/images/test6-1.jpg">
</div>
<!-- # contact-img-top -->


<section id="contact">
    <div class="infor">
        <p class="title-detail">Nhà đẹp style 6</p>

        <div class="small-img-detail">
            <img src="/images/test6-small.jpg">
        </div>
    </div>
    <!-- # infor -->

    <div class="form">
        <p>Dự án Ngân Câu Ngân Giang nằm cạnh trường Đại học Nội Vụ, Đại học Mỹ Thái Bình Dương: Cách biển 1.5 Km, cạnh
            sân golf Vinacapital, Khu biệt thự Triệu đô, Resort 5 sao,... Hạ tầng hoàn thiện, công viên cây xanh đã được
            hình thành. Bắt nguồn từ việc mặt bằng nguyên sơ bằng phẳng với kết cấu địa chất tốt nên việc xây dựng hạ
            tầng được tiến hành nhanh chóng.
            <br><br>
            Giá 212 triệu/nền.<br>
            Chiết khấu + tặng li xi + bốc thăm trúng thưởng + tặng hồ sơ thiết kế và giấy phép xây dựng + tái đầu tư và
            nhiều chính sách khác nếu khách hàng đặt mua trong chương trình khuyến mãi của Công ty.
            <br><br>

        <p>Dự án Ngân Câu Ngân Giang nằm cạnh trường Đại học Nội Vụ, Đại học Mỹ Thái Bình Dương: Cách biển 1.5 Km, cạnh
            sân golf Vinacapital, Khu biệt thự Triệu đô, Resort 5 sao,... Hạ tầng hoàn thiện, công viên cây xanh đã được
            hình thành. Bắt nguồn từ việc mặt bằng nguyên sơ bằng phẳng với kết cấu địa chất tốt nên việc xây dựng hạ
            tầng được tiến hành nhanh chóng.
            <br><br>
            Giá 212 triệu/nền.<br>
            Chiết khấu + tặng li xi + bốc thăm trúng thưởng + tặng hồ sơ thiết kế và giấy phép xây dựng + tái đầu tư và
            nhiều chính sách khác nếu khách hàng đặt mua trong chương trình khuyến mãi của Công ty.
            <br><br>

        <p>Dự án Ngân Câu Ngân Giang nằm cạnh trường Đại học Nội Vụ, Đại học Mỹ Thái Bình Dương: Cách biển 1.5 Km, cạnh
            sân golf Vinacapital, Khu biệt thự Triệu đô, Resort 5 sao,... Hạ tầng hoàn thiện, công viên cây xanh đã được
            hình thành. Bắt nguồn từ việc mặt bằng nguyên sơ bằng phẳng với kết cấu địa chất tốt nên việc xây dựng hạ
            tầng được tiến hành nhanh chóng.
            <br><br>
            Giá 212 triệu/nền.<br>
            Chiết khấu + tặng li xi + bốc thăm trúng thưởng + tặng hồ sơ thiết kế và giấy phép xây dựng + tái đầu tư và
            nhiều chính sách khác nếu khách hàng đặt mua trong chương trình khuyến mãi của Công ty.
            <br><br>
        </p>


    </div>
    <!-- #form -->
</section>
<!-- # contact -->